# Dependencies
node_modules/

# Build output
dist/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
userData/
*.log

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db