body {
  font-family: Tahoma;
  background: #f2f2f2;
  direction: rtl;
}

.box {
  width: 350px;
  background: white;
  margin: 60px auto;
  padding: 20px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}
